.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, 350px);
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
    gap: 1rem;
    outline: 2px solid#272727;
    background-image: radial-gradient(#161616, #131313);
}


.grid-item {
    position: relative;
    width: 350px;
    height: 200px;
    border: 2px solid #f7c957;
    border-radius: 8px;
    overflow: hidden;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: radial-gradient(#313131, #131313);
}

.grid-item a {
    font-family: 'Consolas', sans-serif;
    margin: 0;
    padding: 0.5rem;
    color: #f7c957;
}
.grid-item .thumbnail {
    position: relative;
    display: block;
    width: 115px;
    height: 115px;
    margin-top: 0;
    image-rendering: pixelated;
    outline: 2px solid #f7c957;
    object-fit: cover;
    z-index: 1;
}
.grid-item .image-container {
    left: 3%;
    top: 5%;
    position: absolute;
    display: inline-block;
}
.grid-item-name-area {
    width: 195px;
    height: 40px;
    margin: 0px;
    left: 40%;
    top: 10%;
    position: absolute;
}
.grid-item-name {
    font-family: 'Consolas' sans-serif;
    overflow: hidden;
    display: inline-block;
    text-overflow: ellipsis;
    width: 100%;
    height: 100%;
    white-space: nowrap;
    color: white;
    font-size: 0.9rem;
}
.grid-item-version-area {
    position: absolute;
    display: inline-block;
    right: 5%;
    bottom: 3%;
    width: 200px;
    text-align: right;
    height: 20px;
}
.grid-item-version {
    color: white;
    position: relative;
    font-size: 0.8rem;
    color: #ffffff;
    width: 100%;
    height: 100%;
}
.grid-item-wiki-link-area{
    position: absolute;
    display: inline-block;
    left: 28%;
    bottom: 5%;
    width: 200px;
    text-align: left;
    height: 20px;
}
.grid-item-wiki-link{
    color: white;
    position: relative;
    font-size: 15px;
    width: 100%;
    font-family: 'Consolas', sans-serif;
    height: 100%;
}
.grid-item-creator-area {
    font-family: 'Consolas' sans-serif;
    width: 195px;
    height: 40px;
    margin: 0px;
    left: 40%;
    top: 60%;
    position: absolute;
}
.grid-item-creator {
    position: relative;
    display: inline-block;
    color: white;
    font-size: 0.8rem;
    color: #ffffff;
}
.grid-item-teaser-area {
    position: absolute;
    display: inline-block;
    left: 40%;
    top: 30%;
    width: 195px;
    height: 60px;
}
.grid-item-teaser {
    color: white;
    position: relative;
    font-size: 0.8rem;
    color: #ffffff;
    width: auto;
    height: auto;
}
.grid-item button {
    position: absolute;
    bottom: 5%;
    left: 3%;
    font-family: 'Consolas', sans-serif;
    background-color: transparent;
    border: transparent;
    font-size: 15px;
    color: #f7c957;
    text-decoration: underline;
    cursor: pointer;
}