
main {
    flex: 1;
  }
header {
    font-family: 'Consolas';
    background-image: radial-gradient(#252525, #202020);
    color: #f7c957;
    padding: 1rem;
    text-align: center;
    border: 1px solid gray;
}

.popup-overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #12121286;
    background-image: radial-gradient(#12121270, #00000073);
    display: flex;
    z-index: 1000;
    padding: 10px;
    justify-content: center;
    align-items: center;
}
.popup-close-button{
    position: absolute;
    cursor: pointer;
    right: 2%;
    top: 2%;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: 0;
}
.popup-close-button img{
    position: static;
    cursor: pointer;
    width: 100%;
    height: auto;
    image-rendering: pixelated;
    background-color: #979797;
    border: 2px solid #00000073;
}

.popup-content {
    width: auto;
    height: auto;
    position: relative;
    padding: 50px;
    background-color: #363636;
    border: 2px solid #ccc;
    background-image: radial-gradient(#141414,#141414);
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
}
.action-area{
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.youtube-button {
    display: flex;
    align-items: center;
    font-family: "Consolas", sans-serif;
    background-color: #FF0000;
    color: white;
    padding: 10px 20px;
    font-size: 20px;
    width: 100%;
    border: 3px solid #cc0000;
    transition: transform 0.3s, box-shadow 0.3s, background-color 0.3s;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.youtube-button i {
    margin-right: 8px;
}

.youtube-button:hover {
    background-color: #cc0000;
    transform: scale(1.05);
}

.twitch-button {
    display: flex;
    font-family: "Consolas", sans-serif;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #9146FF;
    color: white;
    padding: 10px 20px;
    border: 3px solid #6924cf;
    font-size: 20px;
    transition: transform 0.3s, box-shadow 0.3s, background-color 0.3s;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.twitch-button i {
    margin-right: 8px;
}

.twitch-button:hover {
    background-color: #6924cf;
    transform: scale(1.05);
}

.download-button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Consolas", sans-serif;
    width: 100%;
    background-color: #31d367;
    color: white;
    padding: 10px 0px;
    border: 3px solid rgb(10, 61, 27);
    transition: transform 0.3s, box-shadow 0.3s, background-color 0.3s;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}
.download-button:hover {
    background-color: #0c4b21;
    transform: scale(1.05);
}
.download-button:disabled {
    background-color: #0c4b21;
    transform: scale(1);
    color: lightgrey;
}

header h1 {
    font-size: 2rem;
    margin: 0;
    letter-spacing: 2px;
    text-shadow: 5px 5px 0px #49380d;
}

nav a {
    font-family: 'Consolas';
    color: white;
    text-decoration: none;
    margin: 0 1rem;
    transition: font-size 0.3s, box-shadow 0.3s;
}

nav a:hover {
    text-decoration: underline;
    font-size: 1.05rem;
}

section {
    margin: 2rem 0;
    padding: 1rem;
}

section h2 {
    color: white;
    font-size: 2rem;
    text-decoration: underline;
    text-underline-offset: 0.5rem;
    margin-bottom: 1rem;
    text-shadow: 5px 5px 0px #333333;
    text-align: center;
}



html, body {
    height: 100%;
    margin: 0;
    font-family: 'Consolas', sans-serif;
    color: #ffffff;
    background-color: #121212;
}
.page-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%; /* Ensure the page-wrapper takes the full height */
  }



#autocomplete-results {
    position: absolute;         /* Make it float below the input */
    top: 100%;                  /* Align right under the input */
    left: 0;
    width: 100%;                /* Match width of search-form */
    margin-top: 4px;

    list-style-type: none;
    padding: 0;
    margin: 0;
    border: 1px solid #f7c957;
    max-height: 150px;
    background-color: #222;
    overflow-y: auto;
    z-index: 10;
    border-radius: 4px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}
  #autocomplete-results li {
    padding: 8px;
    cursor: pointer;
  }
  
  #autocomplete-results li:hover {
    background-color: #333;
  }
footer{
    bottom: 0px;
}




.filter-area {
    display: flex;
    flex-direction: row;
    justify-content: space-between; /* KEY CHANGE */
    align-items: center;
    padding: 1rem;
    flex-wrap: wrap;
    gap: 1rem;
}

.sorting-dropdown {
    position: relative;
    display: flex;
    flex: 0 0 auto;
    max-width: 200px; /* KEY */
    width: 100%;
    z-index: 1;
}
#dropdown-button {
    flex: 1;
    border: 1px solid #f7c957;
    border-radius: 4px;
    color: white;
    background-color: #222;
    cursor: pointer;
    height: 35px;
    width: 100%;
    transition: border 0.3s; 
    text-align: left;
    font-family: "Consolas";
    padding-left: 10px;
}

#dropdown-button:hover {
    border: 1px solid white;
}

#dropdown-options {
    position: absolute;
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: #222;
    border: 1px solid #a58023;
    border-radius: 4px;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#dropdown-options.hidden {
    display: none;
}

#dropdown-options li {
    padding: 8px 12px;
    cursor: pointer;
}

#dropdown-options li:hover,
#dropdown-options li:focus {
    background-color: #333;
    color: #fff;
}

.search-form {
    display: flex;
    align-items: center;
    flex: 0 0 auto;
    max-width: 200px; /* KEY */
    width: 100%;
    gap: 0.5rem;
    position: relative;
}

.search-form input {
    flex: 1;
    padding: 8px;
    height: 35px;
    border: 2px solid #f7c957;
    background-color: #222;
    border-radius: 5px;
    color: white;
    font-family: "Consolas";
    min-width: 0;
}

.search-form input::placeholder {
    color: white;
    font-family: "Consolas";
}

.search-form button {
    padding: 9px;
    background-color: #222;
    color: white;
    border: 2px solid #f7c957;
    border-radius: 5px;
    height: 35px;
    cursor: pointer;
    font-family: "Consolas";
    white-space: nowrap;
}

.search-form button:hover {
    background-color: #c59d38;
}

footer {
    background: #222;
    color: #f7c957;
    text-align: center;
    padding: 1rem;
}
