.wiki_panel {
  border: 2px solid white;
  width: 100%;
  height: 100%;
}
.wiki-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Four equal columns */
  grid-template-rows: repeat(3, 100px); /* Three rows with 100px height */
  gap: 10px; /* Space between grid items */
  padding: 40px;
}

.wiki-item {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}

/* Custom positioning */
.thumbnail-area {
  grid-column: 1 / 1; /* Spans from column 1 to 3 */
  grid-row: 1 / 1; /* Spans the first row */
  aspect-ratio: 1 / 1;
  width: 200px;
}
.thumbnail-area img {
  width: 100%;
  height: 100%;
  image-rendering: pixelated;
  transition: box-shadow 0.2s;
  border: 3px solid #f7c957;
}

.thumbnail-area img:hover {
  box-shadow: 0 4px 10px rgba(247, 201, 87, 0.5);
}

.name-area {
  grid-column: 2 / 5; /* Spans from column 3 to 5 */
  grid-row: 1 / 1; /* Spans from row 2 to row 4 */
}
.name-area h1{
  width: 100%;
  height: 100%;
}

.teaser-area {
  display: flex;
  grid-column: 2 / 5;; /* Spans from column 2 to 4 */
  grid-row: 2 / 4; /* Spans the first row */
  align-items: center;
  justify-content: center;
}
.teaser-area p{
  margin: 0;
}

.body-area {
  grid-column: 2 / 5;; /* Spans from column 2 to 4 */
  grid-row: 4 / 6; /* Spans the first row */
}
.creator-area {
  grid-column: 1 / 1;; /* Spans from column 2 to 4 */
  grid-row: 4 / 4; /* Spans the first row */
}
.version-area {
  grid-column: 1 / 1;; /* Spans from column 2 to 4 */
  grid-row: 5 / 5; /* Spans the first row */
}
.images-label {
  grid-column: 1 / 5;; /* Spans from column 2 to 4 */
  grid-row: 6 / 7; /* Spans the first row */
}
.images-area {
  grid-column: 1 / 5;; /* Spans from column 2 to 4 */
  grid-row: 7 / 8; /* Spans the first row */
  gap: 10px;
  border: 2px solid #ccc;
}
.images-area img {
  width: 80%;
  aspect-ratio: 16 / 9;
}

.carousel {
  position: relative;
  width: 80%;
  overflow: hidden; /* Hide images outside the container */
  aspect-ratio: 16 / 9;
}

.carousel img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  transition: transform 0.5s ease, opacity 0.5s ease;
  opacity: 0;
  transform: translateX(100%); /* Start images off-screen */
}

.carousel img:first-of-type {
  opacity: 1;
  transform: translateX(0); /* First image is visible */
}
.images-area button {
  width: 50px;
  height: 50px;
  background-color: #333;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.images-area button:hover {
  background-color: #222;
}
